{% extends 'base.html' %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались</div>
      <div class="card-body">

        <form method="post">{% csrf_token %}
          <fieldset class="module aligned">
              <div class="form-row field-email">
                  {{ form.email.errors }}
                  <label for="id_email">E-mail:</label>
                  {{ form.email }}
              </div>
              <div class="col-md-6 offset-md-4">
                <input type="submit" class="btn btn-primary" value="Сбросить пароль">
              </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}